group Library
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core

  nuget Proto.Actor >= 0.1.16
  nuget Proto.Mailbox >= 0.1.16
  nuget Proto.Remote >= 0.1.16
  nuget Proto.Persistence >= 0.1.16
  nuget Proto.Cluster.Consul >= 0.1.16

  nuget Google.Protobuf
  nuget Grpc.Tools

  clitool Microsoft.DotNet.Watcher.Tools

group Build
  source https://nuget.org/api/v2
  framework >= net461
  nuget FAKE
